html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0;
  padding: 1rem;
}

li {
  list-style: none;
  border: 3px solid #987ffa;
  border-radius: 6px;
}

ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
