html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0;
  padding: 1rem;
}

li {
  list-style: none;
  border: 3px solid #987ffa;
  border-radius: 6px;
}

ol > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

p {
  font-family: Karma, serif;
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem 1rem .1rem .5rem;
}

.item {
  max-width: 100%;
  padding: 1rem 4.05rem 4.05rem 1rem;
}

.add-to-cart-button {
  font-family: Oswald, sans-serif;
  display: inline-block;
  background-color: #6f00e7;
  color: white;
  border-radius: 3em;
  text-decoration: none;
  padding: .3em .6em 1.5em 1.5em;
  margin: 1rem;
}

.share {
  align-content: flex-end;
}

div {
  justify-content: space-between;
}
